/build
/.idea
/android/local.properties
/android/.gradle
/android/.idea
/android/android.iml
/android/app/app.iml
.packages
.flutter-plugins

DerivedData
xcuserdata
/ios/.symlinks
/ios/Pods
/ios/Podfile*
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_assets/*
